@use "sass:color";

$color-bg: #f9f9f9;
$primary-color: #0b6e4f;

.ventas-container {
  padding: 2rem;
  border-radius: 10px;
  background-color: $color-bg;

  .ventas-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;

    @media (max-width: 900px) {
      grid-template-columns: 1fr;
    }
  }
}

h1,
h2 {
  color: $primary-color;
  border-bottom: 2px dashed $primary-color;
  padding-bottom: 8px;
  text-align: center;
}

.title,
.title-one {
  font-size: 22px;
  font-weight: bold;
  color: $primary-color;
  transition: color 0.3s;
  text-align: justify;

  &:hover {
    color: color.scale($primary-color, $lightness: -20%);
  }
}

.title-one {
  padding-top: 0 !important;
  margin-top: 0 !important;
}

.estadisticas-tabla{
  margin-bottom: 0;
}

.ventas-tabla {
  width: 100%;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;

  th[mat-header-cell] {
    background: $primary-color;
    color: #fff;
    font-weight: 700;
    text-align: center;
    padding: 18px 10px; // header más alto
    letter-spacing: .2px;
  }

  td[mat-cell] {
    color: #333;
    padding: 12px 10px;
    vertical-align: middle;
  }

  tr[mat-row] {
    &:nth-child(even) td {
      background: #fafafa;
    }

    &:hover td {
      background: color.scale($primary-color, $lightness: 90%);
    }
  }

  .fila-total {
    td {
      font-weight: 700;
      background-color: #f0f0f0;
      border-top: 1px solid #e1e1e1;
    }
  }
}

.celdas-centradas {
  text-align: center;
}

.imagen-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

  .pizza-imagen {
    width: 320px;
    height: auto;
    border-radius: 12px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}