<div class="contenedor">
  <div class="tabla-scroll">
    <div class="usuarios-container">
      @if(usuario?.rol === 'Administrator'){
      <h1>Perfil del Administrador</h1>
      } @else if(usuario?.rol === 'Employee'){
      <h1>Perfil del Empleado</h1>
      }

      <div class="info-admin">
        <mat-list>
          <mat-list-item>
            <strong>Usuario:</strong>&nbsp; {{ usuario?.username }}
          </mat-list-item>
          <mat-divider></mat-divider>

          <mat-list-item>
            <strong>Nombre:</strong>&nbsp; {{ usuario?.name }}
          </mat-list-item>
          <mat-divider></mat-divider>

          <mat-list-item>
            <strong>Apellido:</strong>&nbsp; {{ usuario?.lastName }}
          </mat-list-item>
          <mat-divider></mat-divider>

          <mat-list-item>
            <strong>Rol:</strong>&nbsp; {{ usuario?.rol }}
          </mat-list-item>
          <mat-divider></mat-divider>

          <mat-list-item>
            <strong>DNI:</strong>&nbsp; {{ usuario?.dni }}
          </mat-list-item>
          <mat-divider></mat-divider>

          <mat-list-item>
            <strong>Dirección:</strong>&nbsp; {{ usuario?.direction }}
          </mat-list-item>
          <mat-divider></mat-divider>

          <mat-list-item>
            <strong>Teléfono:</strong>&nbsp; {{ usuario?.numberPhone }}
          </mat-list-item>
        </mat-list>

        <div class="acciones">
          <button class="btn-verde" (click)="abrirFormulario(usuario)">Editar usuario</button>
          <button class="btn-rojo" (click)="deshabilitarUsuario(usuario.idUser)">Deshabilitar usuario</button>
        </div>
      </div>


      <h2>Aspectos de la Pizzería</h2>
      <div class="info-admin">
        @if(usuario?.rol === 'Administrator'){
        <button class="btn-azul" (click)="verOtros()">Ver otros usuarios</button>
        <button class="btn-azul" (click)="verMesas()">Administrar Mesas</button>
        }
        @else {
        <button class="btn-azul" (click)="verClientes()">Administrar Clientes</button>
        <button class="btn-azul" (click)="verDescuentos()">Administrar Descuentos</button>
        }
      </div>
    </div>
  </div>
</div>
@if(mostrarFormulario){
<div class="overlay">
  <div class="form-modal">
    @if(userSeleccionado){
    <h2 class="form-title">Editar Usuario</h2>
    }

    <div class="form-container">
      <div class="form-grid">
        <mat-form-field appearance="fill">
          <mat-label>Usuario</mat-label>
          <input matInput placeholder="Escriba el Usuario" [(ngModel)]="Empleado.username" autocomplete="off"
            [disabled]="isLoading">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Escriba los nombres del Usuario" [(ngModel)]="Empleado.name" autocomplete="off"
            [disabled]="isLoading">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Apellido</mat-label>
          <input matInput placeholder="Escriba los apellidos del Usuario" [(ngModel)]="Empleado.lastName"
            autocomplete="off" [disabled]="isLoading">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>DNI</mat-label>
          <input matInput type="text" maxlength="8" placeholder="Escriba el DNI Usuario" [(ngModel)]="Empleado.dni"
            autocomplete="off" pattern="\d*" (keypress)="soloNumeros($event)" [disabled]="isLoading">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Dirección</mat-label>
          <input matInput placeholder="Escriba la dirección del Usuario" [(ngModel)]="Empleado.direction"
            autocomplete="off" [disabled]="isLoading">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Teléfono</mat-label>
          <input matInput type="text" maxlength="9" placeholder="Escriba el teléfono del Usuario"
            [(ngModel)]="Empleado.numberPhone" autocomplete="off" pattern="\d*" (keypress)="soloNumeros($event)"
            [disabled]="isLoading">
        </mat-form-field>

        <div class="full-width">
          <div class="editar-contrasena">
            <label (click)="mostrarFormularioContrasena = true">
              ¿Quieres editar tu contraseña?
            </label>
          </div>
        </div>
      </div>

      <div class="botones">
        <button class="form-btn-verde" (click)="guardarEmpleado()" [disabled]="isLoading">Guardar</button>
        <button class="form-btn-gris" (click)="cerrarFormulario()" [disabled]="isLoading">Cancelar</button>
      </div>
    </div>
  </div>
</div>
}
@if(mostrarFormularioContrasena){
<div class="overlay">
  <div class="form-modal">
    <h2 class="form-title">Cambiar Contraseña</h2>
    <div class="form-container">
      <div class="form-grid">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Contraseña Actual</mat-label>
          <input matInput type="password" [(ngModel)]="Empleado.passwordActual" placeholder="********"
            spellcheck="false" autocomplete="new-password" autocorrect="off" [disabled]="isLoading">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Nueva Contraseña</mat-label>
          <input matInput type="password" [(ngModel)]="Empleado.nuevaPassword" placeholder="********" autocomplete="off"
            [disabled]="isLoading">
        </mat-form-field>
      </div>

      <div class="botones">
        <button class="form-btn-verde" (click)="guardarNuevaContrasena()" [disabled]="isLoading">Guardar</button>
        <button class="form-btn-gris" (click)="mostrarFormularioContrasena = false"
          [disabled]="isLoading">Cancelar</button>
      </div>
    </div>
  </div>
</div>
}