<div class="login-container">
  <form (ngSubmit)="login()" class="login-form" #loginForm="ngForm">
    <img src="kimsa_black.png" alt="Logo" class="logo">

    <h1>Iniciar Sesión</h1>

    <!-- Usuario -->
    <mat-form-field appearance="outline">
      <mat-label>Usuario</mat-label>
      <mat-icon matPrefix>person</mat-icon>
      <input matInput type="text" [(ngModel)]="usuario" name="usuario" placeholder="Ingrese su usuario" required>
    </mat-form-field>

    <!-- Contraseña -->
    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <mat-icon matPrefix>lock</mat-icon>
      <input matInput type="password" [(ngModel)]="contrasena" name="contrasena" placeholder="Ingrese su contraseña"
        required>
    </mat-form-field>

    @if (error) {
    <div class="error-message">
      {{ error }}
    </div>
    }

    <!-- Botón de login -->
    <button type="submit" class="login-btn" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>