<div class="tabla-scroll">
  <div class="products-container">
    <h1 class="title">Productos - {{categoriaNombre}}</h1>

    <div class="filtros">
      <div style="display: flex; gap: 10px; align-items: center; width: 100%; padding-right: 15px;">
        <mat-form-field appearance="fill" style="flex: 1;">
          <mat-label>
            {{
            !tipoFiltro ? 'Seleccione tipo de búsqueda': (tipoFiltro === 'nombre'
            ? 'Buscar producto': (tipoFiltro === 'marca'? 'Buscar marca': 'Buscar característica (Ej: Tamaño: Grande)'))
            }}
          </mat-label>

          <input matInput [disabled]="!tipoFiltro" [matAutocomplete]="autoBusq" [(ngModel)]="mainQuery"
            (ngModelChange)="onMainTyping($event)" [placeholder]="
              !tipoFiltro
                ? 'Primero elige: Producto, Marca o Característica' : (tipoFiltro === 'nombre' ? 'Ingrese nombre...'
                      : (tipoFiltro === 'marca' ? 'Ingrese marca...': 'Ej: Tamaño: Grande, Material: Madera'))"
            autocomplete="off" />

          <mat-autocomplete #autoBusq="matAutocomplete" (optionSelected)="onMainAutoSelected($event.option.value)"
            [displayWith]="getDisplayWith()" autoActiveFirstOption="false">
            @for (s of mainSuggestions; track s) {
            <mat-option [value]="s">{{ s }}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 30%;">
          <mat-label>Buscar por</mat-label>
          <mat-select [(ngModel)]="tipoFiltro" (selectionChange)="onTipoFiltroChange()">
            <mat-option [value]="'nombre'">Nombre</mat-option>
            <mat-option [value]="'marca'">Marca</mat-option>
            <mat-option [value]="'caracteristica'">Característica</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 25%;">
          <mat-label>Estado</mat-label>
          <mat-select [(ngModel)]="estadoFiltro" (selectionChange)="onEstadoFiltroChange()">
            <mat-option value="habilitados">Habilitados</mat-option>
            <mat-option value="deshabilitados">Deshabilitados</mat-option>
            <mat-option value="todos">Todos</mat-option>
          </mat-select>
        </mat-form-field>
        @if (tipoFiltro === 'caracteristica') {
        <div class="boton-limpiar">
          <button mat-raised-button color="primary" (click)="clearFeatureFilters()">
            Limpiar características
          </button>
        </div>
        }
      </div>

      @if (tipoFiltro === 'caracteristica') {
      <div class="chips-row" style="display:flex; align-items:center; gap:10px; margin-top:8px;">
        <mat-chip-listbox class="flex-grow">
          @for (tag of selectedFeatureTags; track $index) {
          <mat-chip (removed)="removeSelectedFeatureTag(tag)" removable>
            {{ tag }}
            <button matChipRemove aria-label="Remover">×</button>
          </mat-chip>
          }

        </mat-chip-listbox>
      </div>
      }
    </div>

    <div class="products-grid">
      @for (p of filtrarProductos(); track p.idProduct ?? $index) {
      <div class="product-item clickable" (click)="openProductDetail(p)">
        <h2 class="title product-name">
          {{ p.name }}
        </h2>
        <div class="img-container horizontal-container">
          <img [src]="getUrlImagen(p.idImage)" class="preview-img img-horizontal"
            [class.img-loaded]="p.idImage ? imgLoaded[p.idImage] : false"
            (load)="p.idImage && (imgLoaded[p.idImage] = true)" (error)="onImageError($event)" />
        </div>

        <p>
          <span class="label-precio">Precio: </span>
          <span class="valor-precio">S/. {{ p.price }}</span>
        </p>
      </div>
      }
    </div>

    <div class="full-width" style="display: flex; justify-content: center; margin: 20px 0;">
      <button class="btn-azul" style="width: 225px; height: 50px;" (click)="abrirFormulario()" [disabled]="isLoading">
        Añadir Nuevo Producto
      </button>
    </div>

    @if (marcas && marcas.length > 0) {
    <div class="full-width" style="display: flex; justify-content: center; margin: 20px 0;">
      <button class="btn-celeste" style="width: 200px; height: 50px;" (click)="abrirFormularioMarca()"
        [disabled]="isLoading">
        Organizar Marcas
      </button>
    </div>}

    <ng-template #productDetailTpl>
      @if (selectedProducto) {
      <div class="form-modal product-detail-modal">
        <button class="close-x" type="button" aria-label="Cerrar" (click)="closeProductDetail()">×</button>

        <h2 class="title form-title">Detalle del Producto</h2>

        <div class="product-detail-body">
          <table mat-table [dataSource]="productInfoRows" class="mat-elevation-z8 info-tabla">
            <ng-container matColumnDef="prop">
              <th mat-header-cell *matHeaderCellDef> Propiedad </th>
              <td mat-cell *matCellDef="let element">
                <strong>{{ element.prop }}</strong>
              </td>
            </ng-container>

            <!-- Valor -->
            <ng-container matColumnDef="value">
              <th mat-header-cell *matHeaderCellDef> Valor </th>
              <td mat-cell *matCellDef="let element">
                <span [class.ok]="element.prop === 'Estado' && element.value === 'Habilitado'"
                  [class.bad]="element.prop === 'Estado' && element.value === 'Deshabilitado'">
                  {{ element.value }}
                </span>
              </td>
            </ng-container>

            <tr mat-row *matRowDef="let row; columns: displayedInfoColumns;"></tr>
          </table>

          @if (productFeatureRows.length !== 0) {
          <h4 class="title">Características del producto</h4>

          <div class="features-tabla"></div>
          <table mat-table [dataSource]="productFeatureRows" class="mat-elevation-z8 info-tabla">
            <ng-container matColumnDef="base">
              <th mat-header-cell *matHeaderCellDef> Característica </th>
              <td mat-cell *matCellDef="let row">
                <strong>{{ row.base }}</strong>
              </td>
            </ng-container>

            <ng-container matColumnDef="value">
              <th mat-header-cell *matHeaderCellDef> Valor </th>
              <td mat-cell *matCellDef="let row">
                {{ row.value || '—' }}
              </td>
            </ng-container>

            <tr mat-row *matRowDef="let row; columns: displayedFeatureColumns;"></tr>
          </table>
          }
        </div>
        <div class="botones">
          <button class="form-btn-verde" type="button" (click)="editProducto(selectedProducto)"
            [disabled]="isLoading">Editar</button>

          @if (!selectedProducto.disabled) {
          <button class="form-btn-rojo" type="button" (click)="deshabilitar(selectedProducto)"
            [disabled]="isLoading">Deshabilitar</button>
          } @else {
          <button class="form-btn-azul" type="button" (click)="habilitar(selectedProducto)"
            [disabled]="isLoading">Habilitar</button>
          }
        </div>
      </div>
      }
    </ng-template>

    <ng-template #formOrganizarMarcasTpl>
      <app-marcas [currentCategoryId]="categoriaId" [soloFormulario]="false"
        (closed)="cerrarFormularioMarca(); loadMarcasPorCategoria(categoriaId!); refreshDetailNow()"
        (marcaDeleted)="onMarcaDeleted($event); refreshDetailNow()">
      </app-marcas>
    </ng-template>

    <ng-template #formCrearMarcaTpl>
      <app-marcas [currentCategoryId]="categoriaId" [soloFormulario]="true"
        (closed)="cerrarFormularioCrearMarca(); loadMarcasPorCategoria(categoriaId!); refreshDetailNow()"
        (marcaDeleted)="onMarcaDeleted($event); refreshDetailNow()">
      </app-marcas>
    </ng-template>

    <ng-template #formProdCaractTpl>
      <div style="max-width: min(96vw, 900px); width: 820px;">
        @if (selectedProducto) {
        <app-caracteristicas-producto [productoSeleccionado]="selectedProducto.idProduct"
          (productFeatureDeleted)="refreshDetailNow()" [categoriaSeleccionada]="selectedProducto.idCategory"
          (closed)="cerrarFormularioCaracteristicaProducto(); refreshDetailNow()">
        </app-caracteristicas-producto>
        }
      </div>
    </ng-template>
  </div>
</div>

<ng-template #formProductoTpl>
  <div class="form-modal">
    <h2 class="title form-title">
      @if (!selectedProducto) { Añadir Producto } @else { Editar Producto }
    </h2>
    <form class="form-container">
      <div class="form-grid">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Nombre del producto</mat-label>
          <input matInput type="text" [(ngModel)]="formData.name" name="nombre" placeholder="Nombre" required
            [disabled]="isLoading" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Precio</mat-label>
          <input matInput type="number" [(ngModel)]="formData.price" name="precio" placeholder="Precio" required
            [disabled]="isLoading" />
        </mat-form-field>

        @if (mostrarMasOpciones) {
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Marca</mat-label>
          <mat-select [(ngModel)]="formData.brand" name="brand" [disabled]="isLoading">
            @for(marca of marcas; track $index) {
            <mat-option [value]="marca.idBrand">{{ marca.name }}</mat-option>
            }
            <mat-option [value]="null">➖ Sin marca</mat-option>
            <mat-option (click)="abrirFormularioCrearMarca()">➕ Crear nueva marca</mat-option>
          </mat-select>
        </mat-form-field>
        }

        @if (selectedProducto) {
        <div class="full-width">
          <button class="btn-caracteristicas-producto" (click)="abrirFormularioCrearCaracteristicaProducto()"
            [disabled]="isLoading">
            🧩 Gestionar características del producto
          </button>
        </div>
        }

        <div class="mas-opciones full-width" [class.disabled]="isLoading">
          <label (click)="!isLoading && mostrarMasOpciones = !mostrarMasOpciones">
            {{ mostrarMasOpciones ? 'Menos opciones' : 'Más opciones' }}
          </label>
        </div>

        <div class="full-width">
          <button mat-stroked-button type="button" (click)="fileInput.click()" [disabled]="isLoading">
            Seleccionar Imagen
          </button>
          <span style="margin-left: 10px;">{{ nombreArchivo || 'Ningún archivo seleccionado' }}</span>
          <input #fileInput type="file" (change)="onFileSelected($event)" accept="image/*" hidden
            [disabled]="isLoading" />
        </div>
      </div>

      <div class="botones">
        @if (!selectedProducto) {
        <button type="button" (click)="crearProducto()" class="form-btn-verde" [disabled]="isLoading">Crear</button>
        } @else {
        <button type="button" (click)="actualizarProducto()" class="form-btn-verde"
          [disabled]="isLoading">Actualizar</button>
        }
        <button type="button" (click)="cerrarFormulario()" class="form-btn-gris"
          [disabled]="isLoading">Cancelar</button>
      </div>
    </form>
  </div>
</ng-template>