<div class="tabla-scroll">
  <div class="products-container">
    <h1>Productos - {{categoriaNombre}}</h1>

    <div class="filtros">
      <div style="display: flex; gap: 10px; align-items: center;">
        <mat-form-field appearance="fill" style="flex: 1;">
          <mat-label>
            {{
            !tipoFiltro
            ? 'Seleccione tipo de búsqueda'
            : (tipoFiltro === 'nombre'
            ? 'Buscar producto'
            : (tipoFiltro === 'marca'
            ? 'Buscar marca'
            : 'Buscar característica (Ej: Tamaño: Grande)'))
            }}
          </mat-label>

          <input matInput [disabled]="!tipoFiltro" [matAutocomplete]="autoBusq" [(ngModel)]="mainQuery"
            (ngModelChange)="onMainTyping($event)" [placeholder]="
              !tipoFiltro
                ? 'Primero elige: Producto, Marca o Característica'
                : (tipoFiltro === 'nombre'
                      ? 'Ingrese nombre...'
                      : (tipoFiltro === 'marca'
                            ? 'Ingrese marca...'
                            : 'Ej: Tamaño: Grande, Material: Madera'))
            " autocomplete="off" />

          <mat-autocomplete #autoBusq="matAutocomplete" (optionSelected)="onMainAutoSelected($event.option.value)"
            [displayWith]="getDisplayWith()" autoActiveFirstOption="false">
            @for (s of mainSuggestions; track s) {
            <mat-option [value]="s">{{ s }}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 30%;">
          <mat-label>Buscar por</mat-label>
          <mat-select [(ngModel)]="tipoFiltro" (selectionChange)="onTipoFiltroChange()">
            <mat-option [value]="'nombre'">Nombre</mat-option>
            <mat-option [value]="'marca'">Marca</mat-option>
            <mat-option [value]="'caracteristica'">Característica</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 25%;">
          <mat-label>Estado</mat-label>
          <mat-select [(ngModel)]="estadoFiltro" (selectionChange)="onEstadoFiltroChange()">
            <mat-option value="habilitados">Habilitados</mat-option>
            <mat-option value="deshabilitados">Deshabilitados</mat-option>
            <mat-option value="todos">Todos</mat-option>
          </mat-select>
        </mat-form-field>
        @if (tipoFiltro === 'caracteristica') {
        <div class="boton-limpiar">
          <button mat-raised-button color="primary" (click)="clearFeatureFilters()">
            Limpiar características
          </button>
        </div>
        }
      </div>

      @if (tipoFiltro === 'caracteristica') {
      <div class="chips-row" style="display:flex; align-items:center; gap:10px; margin-top:8px;">
        <mat-chip-listbox class="flex-grow">
          @for (tag of selectedFeatureTags; track $index) {
          <mat-chip (removed)="removeSelectedFeatureTag(tag)" removable>
            {{ tag }}
            <button matChipRemove aria-label="Remover">×</button>
          </mat-chip>
          }

        </mat-chip-listbox>
      </div>
      }
    </div>

    <div class="products-grid">
      @for (p of filtrarProductos(); track p.idProduct ?? $index) {
      <div class="product-item">
        <h2 class="product-name" style="cursor: pointer;">
          {{ p.name }}
        </h2>

        @if (p.idImage) {
        <div class="img-container horizontal-container" style="cursor: pointer;">
          <img [src]="getUrlImagen(p.idImage)" alt="Imagen de la Categoría" class="preview-img img-horizontal"
            (error)="onImageError($event)" />
        </div>
        } @else {
        <div class="img-container horizontal-container">
          <img src="/img/no-image.png" alt="Sin imagen" class="preview-img img-horizontal" />
        </div>
        }

        <p class="product-price">Precio: S/. {{ p.price }}</p>

        <div class="actions">
          <button class="form-btn-verde" (click)="editProducto(p)" [disabled]="isLoading">Editar</button>
          @if (!p.disabled) {
          <button class="form-btn-rojo" (click)="deshabilitar(p)" [disabled]="isLoading">
            Deshabilitar
          </button>
          } @else {
          <button class="form-btn-azul" (click)="habilitar(p)" [disabled]="isLoading">
            Habilitar
          </button>
          }
        </div>
      </div>
      }
    </div>
    <div class="full-width" style="display: flex; justify-content: center; margin: 20px 0;">
      <button class="btn-azul" style="width: 225px; height: 50px;" (click)="abrirFormulario()" [disabled]="isLoading">
        Añadir Nuevo Producto
      </button>
    </div>

    @if (marcas && marcas.length > 0) {
    <div class="full-width" style="display: flex; justify-content: center; margin: 20px 0;">
      <button class="btn-celeste" style="width: 200px; height: 50px;" (click)="abrirFormularioMarca()"
        [disabled]="isLoading">
        Organizar Marcas
      </button>
    </div>}

    <ng-template #formOrganizarMarcasTpl>
      <app-marcas [currentCategoryId]="categoriaId" [soloFormulario]="false"
        (closed)="cerrarFormularioMarca(); loadMarcasPorCategoria(categoriaId!)"
        (marcaDeleted)="onMarcaDeleted($event)">
      </app-marcas>
    </ng-template>

    <ng-template #formCrearMarcaTpl>
      <app-marcas [currentCategoryId]="categoriaId" [soloFormulario]="true"
        (closed)="cerrarFormularioCrearMarca(); loadMarcasPorCategoria(categoriaId!)"
        (marcaDeleted)="onMarcaDeleted($event)">
      </app-marcas>
    </ng-template>

    <ng-template #formProdCaractTpl>
      <div style="max-width: min(96vw, 900px); width: 820px;">
        @if (selectedProducto) {
        <app-caracteristicas-producto [productoSeleccionado]="selectedProducto.idProduct"
          [categoriaSeleccionada]="selectedProducto.idCategory" (closed)="cerrarFormularioCaracteristicaProducto()">
        </app-caracteristicas-producto>
        }
      </div>
    </ng-template>
  </div>
</div>

<ng-template #formProductoTpl>
  <div class="form-modal">
    <h2 class="form-title">
      @if (!selectedProducto) { Añadir Producto } @else { Editar Producto }
    </h2>
    <form class="form-container">
      <div class="form-grid">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Nombre del producto</mat-label>
          <input matInput type="text" [(ngModel)]="formData.name" name="nombre" placeholder="Nombre" required
            [disabled]="isLoading" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Precio</mat-label>
          <input matInput type="number" [(ngModel)]="formData.price" name="precio" placeholder="Precio" required
            [disabled]="isLoading" />
        </mat-form-field>

        @if (mostrarMasOpciones) {
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Marca</mat-label>
          <mat-select [(ngModel)]="formData.brand" name="brand">
            @for(marca of marcas; track $index) {
            <mat-option [value]="marca.idBrand">{{ marca.name }}</mat-option>
            }
            <mat-option [value]="null">➖ Sin marca</mat-option>
            <mat-option (click)="abrirFormularioCrearMarca()">➕ Crear nueva marca</mat-option>
          </mat-select>
        </mat-form-field>
        }

        @if (selectedProducto) {
        <div class="full-width">
          <button class="btn-caracteristicas-producto" (click)="abrirFormularioCrearCaracteristicaProducto()">
            🧩 Gestionar características del producto
          </button>
        </div>
        }

        <div class="mas-opciones full-width">
          <label (click)="mostrarMasOpciones = !mostrarMasOpciones">
            {{ mostrarMasOpciones ? 'Menos opciones' : 'Más opciones' }}
          </label>
        </div>

        <div class="full-width">
          <button mat-stroked-button type="button" (click)="fileInput.click()" [disabled]="isLoading">
            Seleccionar Imagen
          </button>
          <span style="margin-left: 10px;">{{ nombreArchivo || 'Ningún archivo seleccionado' }}</span>
          <input #fileInput type="file" (change)="onFileSelected($event)" accept="image/*" hidden
            [disabled]="isLoading" />
        </div>
      </div>

      <div class="botones">
        @if (!selectedProducto) {
        <button type="button" (click)="crearProducto()" class="form-btn-verde" [disabled]="isLoading">Crear</button>
        } @else {
        <button type="button" (click)="actualizarProducto()" class="form-btn-verde"
          [disabled]="isLoading">Actualizar</button>
        }
        <button type="button" (click)="cerrarFormulario()" class="form-btn-gris"
          [disabled]="isLoading">Cancelar</button>
      </div>
    </form>
  </div>
</ng-template>