@if (!contentReady) {
} @else {<div class="contenedor">
  <h1 class="title">Clientes</h1>

  <div class="filtros-clientes">
    <mat-form-field appearance="fill">
      <mat-label>Buscar cliente</mat-label>
      <input matInput [placeholder]="filtroPor === 'dni' ? 'Escriba DNI' : 'Escriba nombre'"
        [(ngModel)]="terminoBusqueda" (ngModelChange)="onSearchChange()" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Buscar por</mat-label>
      <mat-select [(ngModel)]="filtroPor" (selectionChange)="onSearchChange()">
        <mat-option value="name">Nombre</mat-option>
        <mat-option value="dni">DNI</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="full-width" style="display: flex; justify-content: end;">
    <button mat-raised-button class="btn-azul"
      style="height: 48px; letter-spacing: .3px; margin-top: -15px; padding: 10px 15px; font-weight: 600;"
      (click)="abrirFormularioNuevoCliente()">
      <mat-icon>add</mat-icon> Añadir Nuevo Cliente
    </button>

    <button mat-raised-button class="volver-btn"
      style="width: 150px; height: 48px; letter-spacing: .3px;  margin-top: -15px; padding: 10px 15px;" (click)="volverUsuario()">
      Volver
    </button>
  </div>

  @if (clients.length === 0) {
  <p style="margin-top:12px;">No hay clientes registrados.</p>
  }
  @else if (clients.length > 0 && clientsFiltrados.length === 0) {
  <p style="margin-top:12px;">No hay clientes con el filtro actual.</p>
  }
  @else {
  <div class="tabla-scroll">
    <table mat-table [dataSource]="pagedClients" class="mat-elevation-z2 full-width-table">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let c">{{ c.name }}</td>
      </ng-container>

      <ng-container matColumnDef="dni">
        <th mat-header-cell *matHeaderCellDef>DNI</th>
        <td mat-cell *matCellDef="let c">{{ c.dni }}</td>
      </ng-container>

      <ng-container matColumnDef="birthdate">
        <th mat-header-cell *matHeaderCellDef>Fecha de nacimiento</th>
        <td mat-cell *matCellDef="let c">{{ c.birthdate | date: 'yyyy-MM-dd' }}</td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let c">
          <button class="btn-verde" (click)="seleccionarClient(c)">Editar</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  @if (totalPages > 1) {
  <div class="paginador">
    <button mat-stroked-button (click)="prevPage()" [disabled]="pageIndex === 0">Anterior</button>

    <div class="paginas">
      @for (p of pagesArray; track p) {
      <button mat-button [disabled]="p === pageIndex" (click)="goToPage(p)">
        {{ p + 1 }}
      </button>
      }
    </div>

    <button mat-stroked-button (click)="nextPage()" [disabled]="pageIndex >= totalPages - 1">Siguiente</button>
  </div>
  }
  }
</div>

<ng-template #formEditarClienteTpl>
  <div class="form-modal">
    <h2 class="title form-title">Editar Cliente</h2>
    <div class="form-container">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="selectedClient.name" placeholder="Escriba el nombre del cliente">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>DNI</mat-label>
        <input matInput [(ngModel)]="selectedClient.dni" placeholder="Escriba el DNI del cliente" maxlength="8"
          pattern="\d*" (keypress)="soloNumeros($event)">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Fecha de nacimiento</mat-label>
        <input matInput type="date" [(ngModel)]="selectedClient.birthdate" placeholder="YYYY-MM-DD">
      </mat-form-field>

      <div class="botones">
        <button class="form-btn-verde" (click)="actualizarClient()">Guardar</button>
        <button class="form-btn-gris" (click)="cerrarFormularioCliente()">Cancelar</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #formNuevoClienteTpl>
  <div class="form-modal">
    <h2 class="title form-title">Registrar Cliente</h2>
    <div class="form-container">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="nuevoClient.name" placeholder="Escriba el nombre del cliente">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>DNI</mat-label>
        <input matInput [(ngModel)]="nuevoClient.dni" placeholder="Escriba el DNI del cliente" maxlength="8"
          pattern="\d*" (keypress)="soloNumeros($event)">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Fecha de nacimiento</mat-label>
        <input matInput type="date" [(ngModel)]="nuevoClient.birthdate" placeholder="YYYY-MM-DD">
      </mat-form-field>

      <div class="botones">
        <button class="form-btn-verde" (click)="crearClient()">Guardar</button>
        <button class="form-btn-gris" (click)="cerrarFormularioNuevoCliente()">Cancelar</button>
      </div>
    </div>
  </div>
</ng-template>}