<div [class.no-anim]="!ready" [class.anim]="ready">
  <mat-toolbar>
    <button mat-icon-button (click)="collapsed.set(!collapsed())">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="example-spacer"></span>

    <button mat-button class="usuario-btn" [ngClass]="{ 'selected-button': estaSeleccionado }" (click)="irAUsuarios()">
      <mat-icon>account_circle</mat-icon>
      Bienvenido: {{ usuarioNombre }}
    </button>

    @if (usuarioAutenticado?.administratorPermissions) {
    <select class="rol-select" [(ngModel)]="usuarioRol" (ngModelChange)="cambiarRol($event)">
      <option value="Administrator">Administrador</option>
      <option value="Employee">Empleado</option>
    </select>
    }

    <span class="example-spacer"></span>

    <button mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
      <app-menu [collapsed]="collapsed()" />
    </mat-sidenav>

    <mat-sidenav-content class="content view-content" [style.margin-left]="sidenavWidth()">
      <router-outlet />
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>