@if (!contentReady) {
} @else {<div class="ventas-container">
    <h1 class="title">Registrar Venta</h1>

    <div class="ventas-grid">
        <div>
            <table mat-table class="cliente-tabla">
                <tr>
                    <th colspan="2" class="cabecera-principal-1">Datos de la venta</th>
                </tr>
                <tr>
                    <td><strong>Delivery</strong></td>
                    <td>
                        <mat-checkbox [(ngModel)]="isDelivery" (change)="onToggleDelivery()">
                            Pedido por delivery
                        </mat-checkbox>
                    </td>
                </tr>

                <tr>
                    <td><strong>Mesa</strong></td>
                    <td>
                        <mat-form-field appearance="outline" style="width:90%;">
                            <mat-label>Selecciona una mesa</mat-label>
                            <mat-select [(ngModel)]="selectedTableId" [disabled]="isDelivery">
                                <mat-option [value]="null" disabled>Seleccione</mat-option>
                                @for (mesa of sortedTables; track mesa.idTable) {
                                <mat-option [value]="mesa.idTable">
                                    {{ mesa.number === 'delivery' ? 'Delivery' : ('Mesa ' + mesa.number) }}
                                    @if (mesa.active) { - (ocupada) }
                                </mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    @if (isGeneric) {
                    <td><strong>Cliente genérico</strong></td>
                    }
                    @else {
                    <td><strong>Cliente</strong></td>
                    }
                    <td>
                        <button mat-raised-button color="primary" style="width:90%;" (click)="toggleGeneric()">
                            {{ isGeneric ? 'Cambiar a Cliente' : 'Usar genérico' }}
                        </button>
                    </td>
                </tr>
                @if (!isGeneric) {
                <tr>
                    <td><strong>DNI</strong></td>
                    <td>
                        <mat-form-field appearance="outline" style="width:90%;" class="cliente-field">
                            <mat-label>DNI</mat-label>

                            <input matInput [(ngModel)]="customerDni" placeholder="DNI"
                                (input)="onDniInput($any($event.target).value)" (ngModelChange)="onDniChange()"
                                [matAutocomplete]="dniAuto" maxlength="8" (keypress)="soloNumeros($event)" />

                            <mat-autocomplete #dniAuto="matAutocomplete"
                                (optionSelected)="onDniSelected($event.option.value)">

                                @for (c of dniSuggestions; track c.dni) {
                                <mat-option [value]="c.dni">
                                    {{ c.dni }} — {{ c.name }}
                                </mat-option>
                                }
                            </mat-autocomplete>
                        </mat-form-field>

                    </td>
                </tr>
                <tr>
                    <td><strong>Nombre</strong></td>
                    <td>
                        <mat-form-field appearance="outline" style="width:90%;" class="cliente-field">
                            <mat-label>Nombre del cliente</mat-label>
                            <input matInput [(ngModel)]="customerName" placeholder="Nombre del cliente"
                                [disabled]="isExistingClient" /> <!-- ⬅️ aquí -->
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td><strong>Fecha de Nacimiento</strong></td>
                    <td>
                        <mat-form-field appearance="outline" style="width:90%;" class="cliente-field">
                            <mat-label>Fecha de nacimiento</mat-label>
                            <input matInput type="date" [(ngModel)]="customerBirthdate" [disabled]="isExistingClient" />
                        </mat-form-field>
                    </td>
                </tr>

                }
            </table>

            <table mat-table class="ventas-tabla">
                <tr class="cabecera-principal-2">
                    <th mat-header-cell>Producto</th>
                    <th mat-header-cell style="width:120px">Cantidad</th>
                    <th mat-header-cell style="width:140px">Precio</th>
                    <th mat-header-cell tyle="width:140px">Subtotal</th>
                    <th mat-header-cell style="width:90px">Opciones</th>
                </tr>

                <tr>
                    <td>
                        <mat-form-field appearance="outline" style="width: 90%;">
                            <mat-label>Seleccionar producto</mat-label>

                            <input type="text" matInput placeholder="Buscar producto..." [(ngModel)]="productSearch"
                                [matAutocomplete]="autoProductos" (input)="filtrarProductos()" />

                            <mat-autocomplete #autoProductos="matAutocomplete"
                                (optionSelected)="onProductoSeleccionado($event.option.value)">
                                @if (filteredProducts.length === 0) {
                                <mat-option disabled>— Sin coincidencias —</mat-option>
                                } @else {
                                @for (p of filteredProducts; track p.idProduct) {
                                <mat-option [value]="p">{{ p.name }} — S/{{ p.price }}</mat-option>
                                }
                                }
                            </mat-autocomplete>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="outline" class="cantidad-field">
                            <mat-label>Cantidad</mat-label>
                            <input matInput type="number" min="1" [(ngModel)]="selectedQty" />
                        </mat-form-field>
                    </td>
                    <td>—</td>
                    <td>—</td>
                    <td>
                        <button mat-icon-button color="primary" (click)="addToCart()"><mat-icon>add</mat-icon></button>
                    </td>
                </tr>

                @for (item of cart; track item.idProduct) {
                <tr>
                    <td>{{ item.name }}</td>
                    <td>
                        <mat-form-field appearance="outline" class="cantidad-field">
                            <mat-label>Cantidad</mat-label>
                            <input matInput type="number" min="1" [ngModel]="item.quantity"
                                (ngModelChange)="updateQty(item, $event)" />
                        </mat-form-field>
                    </td>
                    <td>S/{{ item.unitPrice }}</td>
                    <td>
                        @if (item.discountPct && item.discountPct > 0) {
                        <span class="badge-descuento">
                            -{{ item.discountPct }}%
                        </span>
                        }
                        S/{{ item.subtotal }}
                    </td>
                    <td>
                        <button mat-icon-button color="warn"
                            (click)="removeItem(item)"><mat-icon>delete</mat-icon></button>
                    </td>
                </tr>
                }

                @if (cart.length === 0) {
                <tr>
                    <td colspan="5" class="fila-sin-datos"><em>Sin productos</em></td>
                </tr>
                }

                <tr>
                    <td colspan="3" class="centered-cell"><strong>Total</strong></td>
                    <td class="centered-cell">S/{{ total }}</td>
                    <td class="centered-cell">
                        <button mat-icon-button color="warn" (click)="clearCart()" [disabled]="cart.length===0">
                            <mat-icon>clear_all</mat-icon>
                        </button>
                    </td>
                </tr>
            </table>
        </div>

        <div>
            <div class="imagen-contenedor">
                <img src="https://i.imgur.com/6dqq6So.png" alt="Pizzería" class="pizza-imagen" />
            </div>

            <div class="contenedor-boton">
                <button mat-raised-button color="primary" class="boton-agregar" (click)="saveSale()"
                    [disabled]="isSaving">
                    {{ saleId ? 'Actualizar venta' : 'Registrar venta' }}
                </button>
                @if (saleId) {
                <button mat-raised-button color="warn" class="boton-cancelar" (click)="cancelSale()"
                    [disabled]="isSaving">
                    Cancelar venta
                </button>
                }
                <button mat-raised-button color="accent" class="boton-volver" (click)="goBack()">
                    Volver
                </button>
            </div>
        </div>
    </div>
</div>}