@use '@angular/material' as mat;
@use './style/theme-colors';

@use "sass:color";

@use "style/variables" as *;

@include mat.app-background();

html {
  color-scheme: light;
  @include mat.theme((color: (primary: theme-colors.$primary-palette,
        tertiary: theme-colors.$tertiary-palette,
      ),
      typography: Roboto,
      density: 0));

}

textarea {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dark {
  color-scheme: dark;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

}

.mat-drawer-inner-container {
  overflow: hidden !important;
}

:root {
  @include mat.list-overrides((active-indicator-shape:none,
    ));
}

.cdk-overlay-container,
.cdk-global-overlay-wrapper {
  z-index: 12000 !important;
}

button {
  font-weight: 600;
  font-size: 14px;
}

h1.title,
h2.title,
h3.title,
h4.title {
  color: $primary-color !important;
  border-bottom: 2px dashed $primary-color !important;
  padding-bottom: 8px !important;
  text-align: center;
}